/*nav bar normalization fixes*/

body {
/*    padding-top: 70px;*/
    background-color: lightgray;
}

.navbar-toggler {
    z-index: 1;
}

@media (max-width: 576px) {
    nav > .container {
        width: 100%;
    }
}

#iframe-container{ 
}

iframe 
{
  overflow-x:hidden;
  overflow-Y:hidden;
}

.divider-left{
    padding-right: 7px;
}

.divider-right
{ 
    border-left: 1px solid #000000;
    padding-left: 4px;
}